<footer>
    <nav>
        <ul>
            <li>
                <a href="#">Carretera CA-13 La Ceiba-Tela, desvío frente a Maxi-Despensa aeropuerto.</a>
            </li>
            <li>
                <a href="#">desarrollo.inst@unah.edu.hn</a>
            </li>
            <li>
                <a href="#">2442-9500, 2442-9515</a>
            </li>
            <li>
                <a href="#">Ext. 320026</a>
            </li>
        </ul> 
    </nav>
    <p>Derechos reservados Universidad Nacional Autónoma de Honduras 2017</p>
</footer>