<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <img src="../img/logo.png" alt="Facultad de Enfermeria">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon outline-warning"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/Enfermeria_CURLA/index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Enfermeria_CURLA/nosotros.html">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Enfermeria_CURLA/programas.html">Programas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Enfermeria_CURLA/servicios.html">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Enfermeria_CURLA/galeria.html">Galeria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Enfermeria_CURLA/blog.html">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Enfermeria_CURLA/eventos.html">Eventos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Enfermeria_CURLA/contactos.html">Contactos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Enfermeria_CURLA/perfilcarrera.html">Carrera</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Enfermeria_CURLA/faq.html">Preguntas Frecuentes</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-warning" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>
</header>