@primary-bg-color: #0f3666;
@primary-tx-color: #fecd01;
@secondary-bg-color: #26326e;
@secondary-tx-color: #fcfcfc;

@display_breaks : {
    md: 720px;
    lg: 1025px;
    xlg: 1201px;
}

@import "header.less";
@import "hero.less";
@import "inicio.less";
@import "nosotros.less";
@import "programas.less";
@import "calendario.less";
@import "contactos.less";
@import "card.less";
@import "galeria.less";
@import "listgroups.less";
@import "faq.less";
@import "footers.less";




* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: @primary-bg-color;
}
